[Unit]
Description=RFKill-Unblock All Devices
After=systemd-rfkill@.service
Before=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill unblock all

[Install]
WantedBy=multi-user.target
